.hubDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
}

.sidebar-Msgs,
.nav-profile,
.userNav,
.sideBar,
.navRight {
  display: flex;
}

.userNav {
  justify-content: space-between;
  position: relative;
  height: 60px;
  border-bottom: 1px solid gray;
}

.navRight {
  width: 20%;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

.nav-profile {
  gap: 2rem;
  height: 100%;
}

.dropDown {
  position: absolute;
  z-index: 1;
  top: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  border: 1px solid black;
  width: 20%;
  padding: 2rem;
  height: 20rem;
}

.sideBar {
  flex-direction: column;
  width: 19%;
  border-right: 1px solid black;
  gap: 25px;
}

.mainPane {
  flex: 1;
  padding: 0 20px;
  overflow: auto;
}

.msgs {
  flex: 1;
}

.searchMsgs {
  width: 90%;
}

.onHover {
  cursor: pointer;
}
