.hubDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
}

.sideBar-Msgs,
.nav-profile,
.userNav {
  display: flex;
}

.userNav {
  justify-content: space-between;
  position: relative;
  height: 60px;
  border-bottom: 1px solid gray;
}

.nav-profile {
  gap: 20px;
  align-items: center;
}

.sideBar {
  border-right: 1px solid black;
}

.dropDown {
  position: absolute;
  z-index: 1;
  top: 100%;
}

.pfp {
  height: 100%;
  width: 60px;
}
