.hubDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
}

.sideBar-Msgs,
.nav-profile,
.userNav {
  display: flex;
}

.userNav {
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
}

.nav-profile {
  gap: 20px;
}
