* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.godDiv {
  width: 100vw;
  height: 100vh;
}

.index {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url("../imgs/stars2.jpg");
  color: white;
}

.index a,
.index a:visited {
  color: white;
}
