* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.godDiv {
  width: 100vw;
  height: 100vh;
}

.index {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-image: url("../imgs/stars2.jpg");
  color: white;
  padding: 40px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.index a,
.index a:visited {
  color: white;
}

.welcome > div:first-of-type {
  font-size: 2.5rem;
}

.welcome > div:not(:first-child),
.right {
  font-size: 1.2rem;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: center;
}
