* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.signup,
.login {
  color: black;
}

.login-div,
.signup-div {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 100px;
  background-image: url("../imgs/shootingStarGif.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

.loginForm,
.signUpForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loginForm > div,
.signUpForm > div {
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

input {
  width: 300px;
  height: 30px;
}

.signBtn,
.logBtn {
  width: 75px;
  align-self: center;
  margin-top: 40px;
}
